Django==1.5.1
Fabric==1.6.0
Mezzanine==1.4.7
Pillow==2.0.0
South==0.7.6
bleach==1.2.2
django-geoposition==0.1.4
filebrowser-safe==0.2.27
grappelli-safe==0.2.21
html5lib==0.95
paramiko==1.10.0
psycopg2==2.5
pycrypto==2.6
pygeocoder==1.1.4
pytz==2013b
uWSGI==1.9.11
wsgiref==0.1.2
