/*

Bootstrap style custom overrides
Author: jason


*/

@media(max-width: 767px) {
	ul.pager {
		li {
			float: left;
			display: block;
			padding: 5px 5px 5px 0;
		}
	}

	body {
		padding-right:0;
		padding-left:0;
	}

	h1, h2 {
		padding: 10px 5px 5px 10px;
		&.title {
			margin-bottom: 0px !important;
			line-height: 1.2em;
			font-size: 1.1em !important;
			font-weight: bold !important;
			& a {
				//font-weight: bold !important;
			}
		}
		&.title.blog {
			border: none;
		}
	}

	h6.author {
		padding: 0px 0 10px 10px !important;
		line-height: 1.2em;
		margin-top: 8px !important;
		&.blog {
			text-align: left;
			padding: 2px 0 10px 12px;
			border: none;
		}
	}

	.map.leaderboard {
		border-top: none !important;
	}

	.blog-post {
		border-top: none !important;
	}

	.header-title a {
		right: 1px;
		padding: 3px 8px !important;
	}

	.container-fluid {
		margin: 0px;
		padding-left: 0px;
		padding-right: 0px;

		.row-fluid .middle {
			padding: 0px !important;
			margin-top: -15px;

			p {
				padding: 0 10px 0 10px;
			}

			p.filter-info {
				margin: 10px 10px 35px 10px;
			}

			h4 {
				padding: 0 10px 0 10px;
			}

			.map {
				margin-left: -2px !important;

				&.leaderboard {
					border-left: none;
					border-right: none;
					margin-bottom: 0px;
					border-color: #efefef;
					height: 250px;
				}
				
			}
			.blog-list-detail {
				padding: 0 15px;
			}

			.content {
				//display: inline-block;
				margin-top: 0px;
				ul {
					margin: 10px 10px 10px 35px;
				}
			}

			.pager {
				padding: 0 10px 0 10px;
			}

			.pagination {
				padding-left: 10px;
			}
		}
	}

	.navbar {
		margin: 0px;
	}

	.featured-thumb {
		margin: 5px 10px 5px 10px !important;
	}
}


@media(max-width: 980px) {

	.navbar-inner {
		padding: 0 !important;
	}

	.nav-collapse.in.collapse {
		input.search-query {
			margin-top: 15px !important;
			width: 50%;
		}
	}

}

/*
	Fix form wrapping issue of drop down menu
*/
@media only screen 
and (max-width : 600px) {
	.navbar-inner .navbar-search {
		input.search-query {
			margin-bottom: 10px !important;
		}
	}

	.navbar-inner {
		padding-left: 10px;
		padding-right: 10px;

		p.navbar-text {
			clear: both;
			padding: 0px 10px 0px 10px;
		}

		form.navbar-search {
			margin: 0;
			padding: 0 15px 0 5px;
		}

		.nav-collapse.in.collapse input.search-query {
			width: 90%;
			//left: -10px;
		}
	}

	textarea.input-xlarge {
		width: 100%;
	}
}

body {
	padding: 0px;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 14px;	
	font-weight: 300;
	color: rgb(85,85,85);
	-webkit-font-smoothing: antialiased;
}

img {
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
}

.featured-thumb {
	float: left;
	margin: 0px 15px 5px 0;
	background-size: 96px 96px !important;
	border-radius: 48px;
}

.navbar {
	top: -40px;
	position: relative;
	z-index: 1;
	margin-bottom: -20px;
	font-weight: normal;

	.navbar-inner {
		border: none;
		text-align: left;
		box-shadow: none;
		-moz-box-shadow: none;
		-webkit-box-shadow: none;
		border-top: 1px solid rgb(100,100,100);
		border-top: 1px solid rgba(100,100,100,0.5);

		background-image: #353535;
		background-image: rgba(20,20,20,0.5);
		filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#50000000, endColorstr=#50000000);
		-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#50000000, endColorstr=#50000000)";

		.container {
			width: 95%;
		}

		a.brand {
			color: #E7E7E7;
			font-weight: normal;
			font-size: 1.3em;
			text-shadow: none;
			-webkit-text-shadow: none;
			-moz-text-shadow: none;
			-ms-text-shadow: none;
			line-height: 18px;
		}

		p.navbar-text {
			font-style: normal;
			font-size: 0.9em;
			line-height: 40px;
			overflow: visible;
			width: 100px;
			color: #fff;
			display: block;
			white-space: nowrap;
			line-height: 40px;
		}

		.nav-collapse {
			&.in.collapse {
				li a {
					&:hover {
						&:after {
							content: "\2190";
							margin-left: 10px;
						}
					}
				}	

				.dropdown ul.dropdown-menu {
					background: none;
					a {
						color: #eee;
						font-weight: normal;
					}
					a:hover {
						font-weight: normal;
						color: #fff;
					}

					.active a {
						font-weight: bold;
					}
				}
			}

			li.dropdown {
				a .caret {
					border-top-color: #9B9B9B;
				}

				ul.dropdown-menu {
					top: 42px;
					background: white;
					li a {
						text-align: left;
						color: #A5A5A5;
					}
				}
			}

			li a {
				color: #dcdcdc;
				text-shadow: none;
				-webkit-text-shadow: none;
				-moz-text-shadow: none;
				-ms-text-shadow: none;
			}

			.divider-vertical {
				border-right: 1px solid rgb(200, 200, 200);
				border-right: 1px solid rgba(200, 200, 200, 0.2);
				border-left: 1px solid rgb(80, 80, 80);
				border-left: 1px solid rgba(80, 80, 80, 0.1);
			}

			.active a, .active a:hover, .active.open a:hover {
				background: none;
				box-shadow: none;
				-webkit-box-shadow: none;
				-moz-box-shadow: none;
				color: #FFF;
				font-weight: bold;
			}

			.dropdown ul.dropdown-menu {
				background: inherit;
				a {
					font-weight: normal;
				}
				a:hover {
					font-weight: normal;
					color: #323232;
				}

				.active a {
					font-weight: bold;
				}
			}
		}

		.navbar-search {
			input.search-query {
				background: rgb(128,128,128);
				background: rgba(255,255,255,0.2);
				border: none;
				color: #FFF;
				padding: 2px 20px 2px 20px;
				position: relative;
				top: 3px;
				border-radius: 15px !important;
			}

			$place_holder: #C5C5C5;

			::-webkit-input-placeholder { /* WebKit browsers */
			    color:    $place_holder;
			}
			:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
			    color:    $place_holder;
			}
			::-moz-placeholder { /* Mozilla Firefox 19+ */
			    color:    $place_holder;
			}
			:-ms-input-placeholder { /* Internet Explorer 10+ */
			    color:    $place_holder;
			}

			select {
				background: rgb(0,0,0);
				background: rgba(0,0,0,0.3);
				color: #D8D8D8;
				border-color: #535353;
			}

			input.btn {
				background: rgb(0,0,0);
				background: rgba(0,0,0,0.3);
				text-shadow: 0px 1px 1px #FFF;
				-webkit-text-shadow: 0px 1px 1px #FFF;
				-moz-text-shadow: 0px 1px 1px #FFF;
				-ms-text-shadow: 0px 1px 1px #FFF;
				padding: 3px 20px 3px 20px;
				color: #000;
				font-weight: bold;
			}
		}

		.btn-navbar {
			background: none;
			color: #353535;
			margin: 5px 0 5px;

			span.icon-bar {
				background: rgb(255,255,255);
				background: rgba(255,255,255,0.3);
			}
		}

		.nav-collapse {
			form.navbar-search {
				border: none;
				box-shadow: none;
				-webkit-box-shadow: none;
				-moz-box-shadow: none;
			}

			li :hover {
				background: none;
			}
		}
	}
}

.image-header {
	padding: 0 !important;
	margin: 0 !important;
	left: 0px !important;
	max-height: 550px;
	overflow: hidden;
	background: #000;
	z-index: -1;
	position: relative;
	text-align: center;
}

.header-title a {
	position: absolute;
	right: 1px;
	color: #FDFDFD;
	padding: 10px 20px 10px 10px;
	text-shadow: 1px 1px 0px #353535;
	font-size: .85em;
	text-decoration: none;
}

.comment-count {
	float: left;
	margin-left: 8px;

	a {
		color: #737373;
	}
}

.blog-post {
	padding-top: 0px;

	&.first {
		margin-top: 35px;
		border-top: none;
	}
}

.container-fluid {

	h6.author {
		color: #B1B1B1;
		font-weight: 300;
		margin: 0 0 5px;
		width: 95%;
	}

	h1 {
		font-weight: lighter;
	}

	h1.title, h2.title {
		margin: 0;
		font-size: 1.8em;
		font-weight: lighter;
		color: #2A2A2A;
		line-height: 1.2em;
		width: 95%;
		margin-bottom: 10px;
		a {
			color: red;
			font-weight: lighter;
			text-decoration: none;
		}
	}

	.content {
		display: block;
		position: relative;
		margin: 10px 0 0px;

		ul, ol {
			margin: 1em 3em 1em 3em;
		}

		.fluid-width-video-wrapper {
			iframe {
				border: none;
			}
		}
	}

	.map {
		&.leaderboard {
			width: 100%;
			height: 150px;
			border: 1px solid #efefef;
			margin: 0 0 10px 0;
			img {
				max-width: inherit;
			}
		}

		&.large {
			border: 1px solid #DFDFDF;
			width: 100% !important;
			height: 500px !important;
			img {
				max-width: inherit;
			}
		}
	}

	p.blog-list-detail {
		text-align: right;
		font-size: 1em;
		font-weight: lighter;
		padding: 0 3px;
		margin: 5px 5px 20px;
		border-bottom: none;

		.categories {
			display: block;
			clear: both;
			font-style: normal;
			margin: 0px 0 15px 0;
			color: #B1B1B1;
			font-size: .8em;
		}

		a {
			color: #010101;
			text-shadow: 0px -1px 0 #FFF;
			-webkit-text-shadow: 0px -1px 0 #FFF;
			-moz-text-shadow: 0px -1px 0 #FFF;
			-ms-text-shadow: 0px -1px 0 #FFF;

			&:hover {
				text-decoration: none;
			}
		}
	}

	a.category {
		color: red !important;

		&.last:after {
			content: none;
		}

		&:hover {
			color: #565656;
			text-decoration: none;
		}
	}

	.row-fluid .middle {
		padding-left: 20px;

		#comments {
			font-size: .9em;
			padding: 15px 15px 25px 15px;
			background-color: #F8F8F8;
			margin-bottom: 25px;

			border-radius: 25px;
			-webkit-border-radius: 25px;
			-moz-border-radius: 25px;

			.timespan {
				float: none;
				margin-left: 0;
			}

			h3 {
				padding-left: 10px;
				margin: 0px 0px 15px;
			}

			form.new-comment {
				margin: 10px;
			}

			.comment {
				border: 1px solid #E6E6E6;
				background: none;
				padding: 0px;
				background-color: #FDFDFD;

				border-radius: 10px;
				-webkit-border-radius: 10px;
				-moz-border-radius: 10px;

				.author {
					padding: 10px 10px 0px 20px;
					background-color: #FAFAFA;
					border-bottom: 1px solid #F0F0F0;

					border-radius: 10px 10px 0px 0px;
					-webkit-border-radius: 10px 10px 0px 0px;
					-moz-border-radius: 10px 10px 0px 0px;

					strong {
						color: #2C9721;
					}
				}

				p.content {
					padding: 0 15px 0 15px;
					margin: 20px 0 20px;
					color: #9A9A9A;
				}

				.action {
					text-align: right;
					padding: 0 25px 10px 25px;
					color: #9A9A9A;

					a {
						font-weight: bold;
						font-size: 1.3em;
					}
				}

				.rating {
					text-align: right;
					margin: 12px !important;
				}
			}

			textarea {
				width: 97% !important;
			}

			p.status {
				color: #A1A1A1;
				font-style: italic;
				padding: 10px 15px 0px 15px;
				margin: 0px;
			}

		}		
	}
}

.result-object {
	background: #F8F8F8;
	padding: 0px 25px 0px 25px;
	margin-bottom: 5px;
	border: 1px solid #EDEDED;

	p {
		padding: 20px;
	}

	h5 a {
		font-size: 1.2em;
		padding-left: 0;
		color: red;
	}

	a.more {
		padding: 5px 15px 5px 15px;
		background: #EAEAEA;
		margin-left: 10px;

		border-radius: 15px;
		-webkit-border-radius: 15px;
		-moz-border-radius: 15px;

		&:hover {
			text-decoration: none !important;
		}
	}

	.badge.square {
		float: right;
		right: -10px;
		position: relative;
		background: #D5D5D5;

		border-radius: 0;
		-webkit-border-radius: 0;
		-moz-border-radius: 0;
	}
}

.right .panel {
	font-size: .8em;
	background: none;
	border: none;
	border-top: 1px dotted #D5D5D5;

	border-radius: 0;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;

	h3 {
		font-size: 1.5em;
		font-weight: normal;
		color: #999;
		margin: 0px;
	}

	ul.unstyled {
		padding-left: 0px;
	}

	h6 {
		font-weight: normal;
		color: #C6C6C6;
	}

	a {
		color: red;
		font-weight: normal;
	}

	.badge {
		&.count {
			background-color: #D2D2D2;
			font-size: .8em;
			padding: 1px 7px 1px 7px;
			margin-left: 5px;
			position: relative;
			top: -2px;
		}
	}
}

a.editable-link {
	font-style: normal;
	background-color: #6AA6D7 !important;
	color: white !important;
	border: none;

	font-size: 12px !important;
	font-weight: bold;
	padding: 4px 8px 4px 8px !important;
	position: absolute !important;

	box-shadow: 0 0 0px 1px #C5C5C5 !important;
	-webkit-box-shadow: 0 0 0px 1px #C5C5C5 !important;
	-moz-box-shadow: 0 0 0px 1px #C5C5C5 !important;

	border-radius: 15px !important;
	-webkit-border-radius: 15px !important;
	-moz-border-radius: 15px !important;

	&:hover {
		text-decoration: none;
		background-color: #555 !important;
	}
}

form.editable-form {
	border: none;

	background-color: rgb(0,0,0);
	background-color: rgba(0,0,0,0.5);
	border-radius: 15px;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;

	label {
		color: #9A9A9A !important;
		font-size: 24px !important;
		font-weight: lighter !important;
	}

	input.btn {
		background: #353535 !important;
		color: #8A8A8A;
		border: none;
		border-radius: 15px;
		-webkit-border-radius: 15px;
		-moz-border-radius: 15px;

		font-size: 14px;
		text-shadow: none;
		font-weight: bold;
	}

	input.datetimefield {
		display: block;
		margin-left: 0px !important;
	}

	input.charfield {
		width: 90%;
		padding-left: 10px;
		border: 1px solid #353535;

		border-radius: 15px;
		-webkit-border-radius: 15px;
		-moz-border-radius: 15px;
	}
}

#editable-toolbar {
	background-color: #6AA6D7 !important;
	border: none !important;
	box-shadow: 0px 0px 2px 1px #323232 !important;
	-webkit-box-shadow: 0px 0px 2px 1px #323232 !important;
	-moz-box-shadow: 0px 0px 2px 1px #323232 !important;
	border-radius: 0 0 15px;

	a {
		font-style: normal !important;
		font-weight: bold !important;
		border: none !important;
		padding: 10px !important;
		color: #F1F1F1 !important;
		line-height: 23px;
		text-shadow: 0px -1px 1px #FFF !important;
	}
}

footer {
	font-size: 13px;
	font-weight: bold;
	border-top: 1px solid #EBEBEB;
	border-bottom: 35px solid #585858;
	color: #BABABA;

	a {
		color: #D2D2D2;
		text-shadow: 0px -1px 0 #FFF;
		-webkit-text-shadow: 0px -1px 0 #FFF;
		-moz-text-shadow: 0px -1px 0 #FFF;
		-ms-text-shadow: 0px -1px 0 #FFF;

		&:hover {
			text-decoration: none;
		}
	}
}

// Related Posts

#related-posts {
	text-align: right;
	margin: 15px 15px 35px 15px;

	h3 {
		font-weight: 300;
		font-size: 1.2em;
		margin: 0px;
	}

	ul {
		margin-left: 15px;
	}
}


// Justified Gallery CSS

.jg-image-label {
	padding: 3px 3px 3px 5px !important;
	font-size: 0.8em !important;
	font-family: inherit !important;
}

// Mozilla fixes

@-moz-document url-prefix() {
	@media(max-width: 980px) {
		.row-fluid {
			float: left;
		}
	}
}