/*

Bootstrap style custom overrides
Author: jason


*/

@media(max-width:767px){
	body {
		padding-right:0;
		padding-left:0;
	}

	.container-fluid {
		padding-left: 15px;
		padding-right: 15px;
	}
}

@media(max-width: 480px) {
	h1.title {
		text-align: center;
		font-size: 1.5em;
	}

	h6.author {
		text-align: center;
		width: 100%;
		display: block;
		padding-bottom: 10px;
		border-bottom: 1px solid #D5D5D5;
	}

	h2.title {
		font-size: 1.5em;
		text-align: center;
	}

	p.blog-list-detail {
		text-align: center;
	}
}

img {
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
}

.navbar {
	top: -40px;
	position: relative;
	z-index: 1;
	margin-bottom: -20px;

	.navbar-inner {
		border: none;
		box-shadow: none;
		-moz-box-shadow: none;
		-webkit-box-shadow: none;
		border-top: 1px solid rgb(100,100,100);
		border-top: 1px solid rgba(100,100,100,0.5);

		background-image: #353535;
		background-image: rgba(20,20,20,0.5);
		filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#50000000, endColorstr=#50000000);
		-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#50000000, endColorstr=#50000000)";


		a.brand {
			color: #E7E7E7;
			font-weight: bold;
			font-size: 1.3em;
			text-shadow: none;
			-webkit-text-shadow: none;
			-moz-text-shadow: none;
			-ms-text-shadow: none;
			line-height: 1em;
		}

		p.tagline {
			font-style: normal;
			font-size: 1em;
		}

		.nav-collapse {
			li a {
				color: #C5C5C5;
				text-shadow: none;
				-webkit-text-shadow: none;
				-moz-text-shadow: none;
				-ms-text-shadow: none;
			}

			&.in.collapse {
				li a {
					&:hover {
						&:after {
							content: "\2190";
							margin-left: 10px;
						}
					}
				}	
			}

			.divider-vertical {
				border-right: 1px solid rgb(200, 200, 200);
				border-right: 1px solid rgba(200, 200, 200, 0.2);
				border-left: 1px solid rgb(80, 80, 80);
				border-left: 1px solid rgba(80, 80, 80, 0.1);
			}

			.active a, .active a:hover {
				background: none;
				box-shadow: none;
				-webkit-box-shadow: none;
				-moz-box-shadow: none;
				color: #FFF;
				font-weight: bold;
			}
		}

		.navbar-search {
			input.search-query {
				background: rgb(128,128,128);
				background: rgba(255,255,255,0.2);
				border: none;
				color: #FFF;
				padding: 2px 20px 2px 20px;
				position: relative;
				top: 4px;
				border-radius: 15px !important;
			}

			$place_holder: #C5C5C5;

			::-webkit-input-placeholder { /* WebKit browsers */
			    color:    $place_holder;
			}
			:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
			    color:    $place_holder;
			}
			::-moz-placeholder { /* Mozilla Firefox 19+ */
			    color:    $place_holder;
			}
			:-ms-input-placeholder { /* Internet Explorer 10+ */
			    color:    $place_holder;
			}

			select {
				background: rgb(0,0,0);
				background: rgba(0,0,0,0.3);
				color: #D8D8D8;
				border-color: #535353;
			}

			input.btn {
				background: rgb(0,0,0);
				background: rgba(0,0,0,0.3);
				text-shadow: 0px 1px 1px #FFF;
				-webkit-text-shadow: 0px 1px 1px #FFF;
				-moz-text-shadow: 0px 1px 1px #FFF;
				-ms-text-shadow: 0px 1px 1px #FFF;
				padding: 3px 20px 3px 20px;
				color: #000;
				font-weight: bold;
			}
		}

		.btn-navbar {
			background: none;
			color: #353535;

			span.icon-bar {
				background: rgb(255,255,255);
				background: rgba(255,255,255,0.3);
			}
		}

		.nav-collapse {
			form.navbar-search {
				border: none;
				box-shadow: none;
				-webkit-box-shadow: none;
				-moz-box-shadow: none;
			}

			li :hover {
				background: none;
			}
		}
	}
}

/*
	Fix form wrapping issue of drop down menu
*/
@media only screen 
and (max-width : 600px) {
	.navbar-inner .navbar-search {
		input.search-query {
			margin-bottom: 10px !important;
		}
	}

	.navbar-inner {
		padding-left: 10px;
		padding-right: 10px;

		p.tagline {
			clear: both;
			padding: 0px 10px 10px 10px;
		}
	}
}

.image-header {
	padding: 0 !important;
	margin: 0 !important;
	left: 0px !important;
	max-height: 550px;
	overflow: hidden;
	background: #000;
	z-index: -1;
	position: relative;
	text-align: center;
}

.comment-count {
	float: left;
	margin-left: 8px;

	a {
		color: #737373;
	}
}

.container-fluid {

	color: #787878;

	h1 {
		font-weight: normal;
		color: #878787;
	}

	h6.author {
		color: #B2B2B2;
		font-weight: normal;
		margin: 3px 0 5px;
		float: left;
	}

	h2.title {
		margin: 0;
		a {
			color: red;
			font-weight: normal;
		}
	}

	.content {
		color: #787878;
		display: block;
		position: relative;
		margin: 50px 0 50px;
	}

	.map-canvas {
		width: 100% !important;
		height: 175px !important;
		border: 1px solid #DFDFDF;
	}

	.blog-list-detail {
		border-bottom: 5px solid #F2F2F2;
	}

	.row-fluid .middle {

		h1.title {
			color: #565656;
			//margin: 25px 0 25px;
		}

		#comments {
			font-size: .9em;
			padding: 15px 15px 25px 15px;
			background-color: #F8F8F8;
			margin-bottom: 25px;

			border-radius: 25px;
			-webkit-border-radius: 25px;
			-moz-border-radius: 25px;

			.timespan {
				float: none;
				margin-left: 0;
			}

			h3 {
				padding-left: 10px;
				margin: 0px 0px 15px;
			}

			form.new-comment {
				margin: 10px;
			}

			.comment {
				border: 1px solid #E6E6E6;
				background: none;
				padding: 0px;
				background-color: #FDFDFD;

				border-radius: 10px;
				-webkit-border-radius: 10px;
				-moz-border-radius: 10px;

				.author {
					padding: 10px 10px 0px 20px;
					background-color: #FAFAFA;
					border-bottom: 1px solid #F0F0F0;

					border-radius: 10px 10px 0px 0px;
					-webkit-border-radius: 10px 10px 0px 0px;
					-moz-border-radius: 10px 10px 0px 0px;

					strong {
						color: #2C9721;
					}
				}

				p.content {
					padding: 0 15px 0 15px;
					margin: 20px 0 20px;
					color: #9A9A9A;
				}

				.action {
					text-align: right;
					padding: 0 25px 10px 25px;
					color: #9A9A9A;

					a {
						font-weight: bold;
						font-size: 1.3em;
					}
				}

				.rating {
					text-align: right;
					margin: 12px !important;
				}
			}

			textarea {
				width: 97% !important;
			}

			p.status {
				color: #A1A1A1;
				font-style: italic;
				padding: 10px 15px 0px 15px;
				margin: 0px;
			}

		}		
	}
}

.result-object {
	background: #F8F8F8;
	padding: 0px 25px 0px 25px;
	margin-bottom: 5px;
	border: 1px solid #EDEDED;

	p {
		padding: 20px;
	}

	h5 a {
		font-size: 1.2em;
		padding-left: 0;
		color: red;
	}

	a.more {
		padding: 5px 15px 5px 15px;
		background: #EAEAEA;
		margin-left: 10px;

		border-radius: 15px;
		-webkit-border-radius: 15px;
		-moz-border-radius: 15px;

		&:hover {
			text-decoration: none !important;
		}
	}

	.badge.square {
		float: right;
		right: -10px;
		position: relative;
		background: #D5D5D5;

		border-radius: 0;
		-webkit-border-radius: 0;
		-moz-border-radius: 0;
	}
}

.right .panel {
	font-size: .8em;
	background: none;
	border: none;
	border-top: 1px dotted #D5D5D5;

	border-radius: 0;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;

	h3 {
		font-size: 1.5em;
		font-weight: normal;
		color: #999;
		margin: 0px;
	}

	ul.unstyled {
		padding-left: 0px;
	}

	h6 {
		font-weight: normal;
		color: #C6C6C6;
	}

	a {
		color: red;
		font-weight: bold;
	}

	.badge {
		&.count {
			background-color: #D2D2D2;
			font-size: .8em;
			padding: 1px 7px 1px 7px;
			margin-left: 5px;
			position: relative;
			top: -2px;
		}
	}
}

a.editable-link {
	font-style: normal;
	background-color: black !important;
	color: white !important;
	border: 2px solid #fff !important;

	font-size: .8em !important;
	font-weight: bold;
	padding: 4px 8px 4px 8px !important;

	box-shadow: 0 0 0px 1px #C5C5C5 !important;
	-webkit-box-shadow: 0 0 0px 1px #C5C5C5 !important;
	-moz-box-shadow: 0 0 0px 1px #C5C5C5 !important;

	border-radius: 15px !important;
	-webkit-border-radius: 15px !important;
	-moz-border-radius: 15px !important;

	&:hover {
		text-decoration: none;
		background-color: #555 !important;
	}
}

form.editable-form {
	border: none;

	background-color: rgb(0,0,0);
	background-color: rgba(0,0,0,0.5);
	border-radius: 15px;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;

	label {
		color: #9A9A9A !important;
		font-size: 1.5em !important;
		font-weight: lighter !important;
	}

	input.btn {
		background: #353535 !important;
		color: #8A8A8A;
		border: none;
		border-radius: 15px;
		-webkit-border-radius: 15px;
		-moz-border-radius: 15px;

		font-size: .8em;
		text-shadow: none;
		font-weight: bold;
	}

	input.datetimefield {
		display: block;
		margin-left: 0px !important;
	}

	input.charfield {
		width: 90%;
		padding-left: 10px;
		border: 1px solid #353535;

		border-radius: 15px;
		-webkit-border-radius: 15px;
		-moz-border-radius: 15px;
	}
}

#editable-toolbar {
	background-color: #252525 !important;
	border: none !important;
	box-shadow: 0px 0px 5px 1px #D7D7D7;
	-webkit-box-shadow: 0px 0px 5px 1px #D7D7D7;
	-moz-box-shadow: 0px 0px 5px 1px #D7D7D7;

	a.toolbar {
		font-style: normal !important;
		font-weight: bold !important;
		border: none;
		font-size: 0.7em !important;
		padding: 10px !important;
		color: #F1F1F1 !important;
		line-height: 23px;
	}
}